@import 'tailwindcss';

@theme {
  --font-sans: 'Geist', 'sans-serif';
  --font-mono: 'Geist Mono', 'Monaco', 'monospace';
}

body {
  @apply bg-gray-50 dark:bg-gray-900;
}

h2,
h3,
h4,
h5,
h6 {
  @apply dark:text-blue-300!;
}

h1,
p,
input,
button {
  @apply dark:text-gray-50;
}

hr {
  @apply dark:border-gray-400;
}

#app {
  @apply max-w-4xl w-full mx-auto p-6 md:p-8;
}

input {
  @apply w-full border-b border-gray-400;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

section {
  @apply w-full;
}
