@import 'tailwindcss';

@theme {
  --font-sans: 'Geist', 'sans-serif';
  --font-mono: 'Geist Mono', 'Monaco', 'monospace';
}

body {
  @apply bg-gray-50 dark:bg-gray-900;
}

h2,
h3,
h4,
h5,
h6 {
  @apply dark:text-blue-300!;
}

h1,
p,
input,
button {
  @apply dark:text-gray-50;
}

hr {
  @apply dark:border-gray-400;
}
